<p>
  company works!
</p>
<!-- <table>
  <div id="headings">
    <tr>
      <td>Name</td>
      <td>cgpa</td>
      <td>qualification</td>
    </tr>
  </div>
  <div id="tab" *ngFor="let post of title | async">
    <tr>
      <p>{{post.name}}</p>
      <td>{{post.cgpa}}</td>
      <td>{{post.qualification}}</td>
    </tr>
  </div>
</table> -->
<table>
  <div id="headings">

   <tr>
    <td>Name</td>
    <td>qualification</td>
    <td>cgpa</td>
  </tr>
  </div>

  <div id="tab" *ngFor="let post of title | async">
    <tr>
      <td>{{post.name}}</td>
      <td>{{post.qualification}}</td>
      <td>{{post.cgpa}}</td>
    </tr>
  </div>
</table>